body{
    background-image:url(image/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;


}
header{
background-color: aliceblue;
    border: 1px solid black;
   margin-bottom: 2vw;
   text-align: center;
}

main, article, section{
  margin-bottom: 2vw;
text-align: center;
}
main h1{
    border: 4px dotted yellow;
    padding: 0px;
    margin: 0px;
 font-size: 40px;
   font-family: cursive;
    color: antiquewhite;
}

@media screen and (max-width:380px){
header>h1{
    color: orange;
    letter-spacing: 5px;
    font-size: 30px
}
h2{
    color: white;
  text-decoration: underline;
     padding: 0px;
    margin-top: 5px;

}
h3{
    margin: 0;
    padding-bottom: 5px;
}
p{
    text-align: left;
    margin-top: 0;
}
        #full {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full1 {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full.on{
     max-height: 500px;
    }
    #full1.on{
     max-height: 500px;
    }
    #but{
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }
     #but1 {
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }

     #full2 {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full2.on{
     max-height: 500px;
    }
  #but2{
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }
      #full3 {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full3.on{
     max-height: 500px;
    }
  #but3{
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }

.price {
    border: 1px dotted black;
    width: 50%;
    background-color: aliceblue;
    border-radius: 50px;
    margin-left: 50px;
}



#starter, #main, #desert,#drinks{
    display: flex;

    flex-direction: column;
    border: 1px solid black;
    align-items: center;


}
#starter>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}
#main>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 0% 25%;
}
#desert>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}
#starter>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}

#drinks>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 0% 25%;
}

main .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/caviarbruschetta.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
main .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/baltiskbondesuppe.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
article .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/dynryp.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
article .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/russisktapas.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
section .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/guzni.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
section .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/kaviarpandekager.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
aside .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/roedvin.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
aside .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/voda.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
}



@media screen and (min-width:381px){
    body{
        background-image:url(image/bg1.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
    }
    header>h1{
    color: orange;
    letter-spacing: 20px;
    font-size: 30px;
}
h2{
    color:darkgoldenrod;
  text-decoration: underline;
     padding: 0px;
    margin-top: 5px;
    background-color:antiquewhite;
    width: 200px;
    margin-left: 25vw;
    border-radius: 25%;

}
h3{
    margin: 0;
    padding-bottom: 5px;
    font-size: 1.4rem;
}
p{
    text-align: left;
    margin-top: 0;
    font-size: 1.2rem;

}

    #full {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full1 {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full.on{
     max-height: 500px;
    }
    #full1.on{
     max-height: 500px;
    }
    #but{
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }
     #but1 {
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }

     #full2 {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full2.on{
     max-height: 500px;
    }
  #but2{
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }
      #full3 {
        border: 2px solid red;
        width: 90%;
        max-height: 50px;
        margin: 0;
        padding: 0;
        overflow: hidden;

    }
    #full3.on{
     max-height: 500px;
    }
  #but3{
        border: 1px solid black;
        font-size: 19px;
        width: 52px;
        text-align: center;
        background-color: aliceblue;
    }

.price {
    border: 1px dotted black;
    width: 50%;
    background-color: aliceblue;
    border-radius: 50px;
    margin-left: 50px;
}


#starter, #main, #desert,#drinks{
    display: flex;
justify-content: space-between;
    flex-direction: row;
    border: 1px solid black;
    align-items: center;
    overflow: hidden;


}
    main, article, section, aside{
        padding-left: 10vw;
        padding-right: 10vw;
        overflow: hidden;

    }

#starter>div{
    margin: 5px;
   flex-wrap: wrap;
    border: 1px solid black;
    width: 60%;
    max-width: 400px;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}
#main>div{
    margin: 5px;
flex-wrap: wrap;
max-width: 400px;
    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 0% 25%;
}
#desert>div{
    margin: 5px;
flex-wrap: wrap;
max-width: 400px;
    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}
#starter>div{
    margin: 5px;
flex-wrap: wrap;
max-width: 400px;
    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}

#drinks>div{
    margin: 5px;
flex-wrap: wrap;
max-width: 400px;
    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 0% 25%;
}

main .img{
    height: 150px;
    width: 80%;

    border: 1px dotted;
    background-image: url(image/caviarbruschetta.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
main .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/baltiskbondesuppe.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
article .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/dynryp.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
article .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/russisktapas.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
section .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/guzni.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
section .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/kaviarpandekager.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
aside .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/roedvin.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
aside .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/voda.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
}
footer{
    height: 60px;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 10px;
}
footer>p{
    padding-top: 20px;
    margin: 0;

}
