body{
    background-image:url(image/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;


}
header{
    width: 100 vmin;
background-color: aliceblue;
    border: 1px 0px 0px 0px solid black;
   margin-bottom: 2vw;
   text-align: center;
}
article{
  margin-bottom: 2vw;
    width: 100 vmin;
text-align: center;


}
article h1{
    border: 4px dotted yellow;
    padding: 0px;
    margin: 0px;
 font-size: 40px;
   font-family: cursive;
}
h2{
    color: white;
  text-decoration: underline;
     padding: 0px;
    margin-top: 5px;
}
h3{
    margin: 0;
    padding-bottom: 5px;
}
p{
    text-align: left;
    margin-top: 0;
}

#starter{
    display: flex;

    flex-direction: column;
    border: 1px solid black;
    align-items: center;


}
#starter>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightcyan;
border-radius: 25% 0%;
}
.img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/caviarbruschetta.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
}
