body{
    background-image:url(image/bg.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;


}
header{
background-color: aliceblue;
    border: 1px solid black;
   margin-bottom: 2vw;
   text-align: center;
}
main, article, section{
  margin-bottom: 2vw;
text-align: center;
}
main h1{
    border: 4px dotted yellow;
    padding: 0px;
    margin: 0px;
 font-size: 40px;
   font-family: cursive;
    color: antiquewhite;
}
h2{
    color: white;
  text-decoration: underline;
     padding: 0px;
    margin-top: 5px;

}
h3{
    margin: 0;
    padding-bottom: 5px;
}
p{
    text-align: left;
    margin-top: 0;
}
.price {
    border: 1px dotted black;
    width: 50%;
    background-color: aliceblue;
    border-radius: 50px;
    margin-left: 50px;
}


#starter, #main, #desert,#drinks{
    display: flex;

    flex-direction: column;
    border: 1px solid black;
    align-items: center;


}
#starter>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}
#main>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 0% 25%;
}
#desert>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}
#starter>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 25% 0%;
}

#drinks>div{
    margin: 5px;

    border: 1px solid black;
    width: 60%;
    padding: 20px;
    background-color:lightgoldenrodyellow;
border-radius: 0% 25%;
}

main .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/caviarbruschetta.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
main .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/baltiskbondesuppe.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
article .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/dynryp.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
article .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/russisktapas.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
section .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/guzni.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
section .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/kaviarpandekager.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
aside .img{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/roedvin.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
    border-radius: 50px;
}
aside .img2{
    height: 150px;
    width: 80%;
    border: 1px dotted;
    background-image: url(image/voda.jpg);
    background-position: center;
    background-size: contain;
    margin-left: 15px;
      border-radius: 50px;
}
footer{
    height: 60px;
    border: 2px solid white;
    background-color: aliceblue;
    border-radius: 10px;
}
footer>p{
    padding-top: 20px;
    margin: 0;

}
